body {
  font-family: 'sofia', sans-serif;
  text-shadow: 3px 3px 3px #ababab;
}

h1 {
  font-family: Cinzel, serif;
  font-size: 32px;
}

header {
  padding: 50px;
  background-color: #F8F8FF;
  color: black;
}

header ul {
  position: absolute;
  right: 10px;
  padding: 10px;
}

header ul li {
  list-display: none;
  display: inline-block;
  list-style-type: none;
}

header .image-cropper {
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
}

header .image-cropper img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.sidebar {
  position: absolute;
  padding-top: 20px;
  top: 0;
  bottom: 0;
  width: 200px;
}

.sidebar ul {
  list-style: none;
  margin-top: 150px;
  width: 200px;
  height: 100%;
}

.sidebar ul li:hover {
  padding-bottom: 10px;
  box-shadow: inset 100px 0 0 0 #54b3d6;
  display: flex;
  color: inherit;
  text-decoration: inherit;
  all: unset;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px;
}

.section {
  margin: 50px 0px 50px 50px;
}

.section ul {
  list-style: none;
  font-family: 'Fauna One', serif;
}

.section div {
  width: 100%;
  text-align: justify;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);;
  pointer-events: none;
  opacity: 0;
}

.model-container .is-open {
  pointer-events: all;
  opacity: 1;
}

.modal-content {
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 400px;
  background-color: #fff;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
}